trunk/FEtranslator1/src/map/rd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="screen">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="htmltempalte"/>
              <xs:element type="xs:string" name="includedjsp"/>
              <xs:element type="xs:string" name="callbackclass"/>
              <xs:element name="scripts">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="scriptinclude" maxOccurs="unbounded" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="js/iadtframework.js,js/json2.js,js/jsonStringify.js"/>
                          <xs:enumeration value="js/jquery.validate.js"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="stylesheets">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="styleinclude"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="panels">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="panel" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="crud" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="jsonrpc" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="selectonload" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="countquery" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="pagesize"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="stackid" use="optional"/>
                              <xs:attribute type="xs:string" name="id" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="savefieldids" minOccurs="0"/>
                          <xs:element name="sqlselect" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type"/>
                                  <xs:attribute type="xs:string" name="stackid"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="sqlinsert" minOccurs="0"/>
                          <xs:element type="xs:string" name="sqldelete" minOccurs="0"/>
                          <xs:element name="sqlselectcount" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="refselectid"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="sqlupdate" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fields">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="sometype" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name"/>
                                        <xs:attribute type="xs:string" name="dbdatatype"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="div" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="xpath">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="position" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="rule"/>
                                      <xs:element type="xs:string" name="validation" minOccurs="0"/>
                                      <xs:element type="xs:string" name="query"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="forid" use="optional"/>
                                    <xs:attribute type="xs:string" name="replace" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="input" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="rule">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value=""/>
                                            <xs:enumeration value="[{fieldname:&quot;LastName&quot;,rules:{required:true},messages:{required:&quot;Last Name is required&quot;}}]"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="validation" minOccurs="0"/>
                                      <xs:element name="query" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value="&lt;@s.text name=&quot;details.firstname&quot; />"/>
                                            <xs:enumeration value=""/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                    <xs:attribute type="xs:string" name="forid" use="optional"/>
                                    <xs:attribute type="xs:string" name="value" use="optional"/>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="column" use="optional"/>
                                    <xs:attribute type="xs:string" name="dbdatatype" use="optional"/>
                                    <xs:attribute type="xs:string" name="primarykey" use="optional"/>
                                    <xs:attribute type="xs:string" name="dbcolsize" use="optional"/>
                                    <xs:attribute type="xs:string" name="mask" use="optional"/>
                                    <xs:attribute type="xs:string" name="mandatory" use="optional"/>
                                    <xs:attribute type="xs:string" name="hidden" use="optional"/>
                                    <xs:attribute type="xs:string" name="label" use="optional"/>
                                    <xs:attribute type="xs:string" name="replace" use="optional"/>
                                    <xs:attribute type="xs:string" name="validation" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="customfield" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="text" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>will need to experiment to see if dojo tags of struts2 like datepicker can be added?</xs:documentation>
                                        </xs:annotation>
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value="&lt;sx.datetimepicker name=&quot;dateid&quot;  displayFormat=&quot;dd-MMM-yyyy&quot; />"/>
                                            <xs:enumeration value="
							&lt;@s.select label=&quot;Months&quot;
					       name=&quot;selectmonth&quot;
					       headerKey=&quot;&quot; headerValue=&quot;Select Month&quot;
					      list=&quot;selectmonth&quot;
					       value=r&quot;#{'2010-10-11'}&quot;
					       required=&quot;true&quot;
					       
							/>
						"/>
                                            <xs:enumeration value="
							&lt;@sj.datepicker id=&quot;date0&quot; name=&quot;date0&quot; label=&quot;With Button Panel&quot; changeMonth=&quot;true&quot; changeYear=&quot;true&quot; />

							
						"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element name="rule" minOccurs="0">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value="[{fieldname:&quot;selectmonth&quot;,rules:{required:true},messages:{required: &quot;Month is mandatory field&quot;}}]"/>
                                            <xs:enumeration value="[{fieldname:&quot;date0&quot;,rules:{required:true},messages:{required: &quot;Date is mandatory field&quot;}}] "/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="validation" minOccurs="0">
                                        <xs:annotation>
                                          <xs:documentation>rule>[{fieldname:"dateid",rules:{required:true},messages:{required: "Dojo Date is mandatory field"}}]&lt;/rule</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                      <xs:element name="query" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                              <xs:attribute type="xs:string" name="stackid" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                    <xs:attribute type="xs:string" name="forid" use="optional"/>
                                    <xs:attribute type="xs:string" name="validation" use="optional"/>
                                    <xs:attribute type="xs:string" name="column" use="optional"/>
                                    <xs:attribute type="xs:string" name="dbcolsize" use="optional"/>
                                    <xs:attribute type="xs:string" name="mask" use="optional"/>
                                    <xs:attribute type="xs:string" name="replace" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="select" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="text">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:enumeration value="
						&lt;select name=&quot;countryofissue&quot; maxlength=&quot;50&quot; class=&quot;field&quot; id=&quot;countryofissue&quot;>
				        &lt;option value=&quot;&quot; selected=&quot;selected&quot;>Select&lt;/option>
				        &lt;option value=&quot;INDIA&quot;>India&lt;/option>
				        &lt;option value=&quot;SINGAPORE&quot;>Singapore&lt;/option>
				        &lt;option value=&quot;AUSTRALIA&quot;>Australia&lt;/option>
				        &lt;option value=&quot;PHILIPPINES&quot;>Philippines&lt;/option>
				        &lt;option value=&quot;UAE&quot;>UAE&lt;/option>
				        &lt;/select> 
				        "/>
                                            <xs:enumeration value="
							
							&lt;select name=&quot;country&quot; id=&quot;selcountry2&quot;>
								&lt;@s.iterator value=&quot;list1&quot;>
	 								&lt;option value=&quot;&lt;@s.property value=&quot;key&quot;/>&quot; >&lt;@s.property value=&quot;value&quot;/>&lt;/option>
								&lt;/@s.iterator>
								
						 	&lt;/select>
	
						 	
						"/>
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="rule"/>
                                      <xs:element type="xs:string" name="validation" minOccurs="0"/>
                                      <xs:element name="query">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                              <xs:attribute type="xs:string" name="stackid" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                    <xs:attribute type="xs:string" name="class" use="optional"/>
                                    <xs:attribute type="xs:string" name="forid" use="optional"/>
                                    <xs:attribute type="xs:string" name="value" use="optional"/>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="column" use="optional"/>
                                    <xs:attribute type="xs:string" name="dbdatatype" use="optional"/>
                                    <xs:attribute type="xs:string" name="dbcolsize" use="optional"/>
                                    <xs:attribute type="xs:string" name="mask" use="optional"/>
                                    <xs:attribute type="xs:string" name="mandatory" use="optional"/>
                                    <xs:attribute type="xs:string" name="hidden" use="optional"/>
                                    <xs:attribute type="xs:string" name="label" use="optional"/>
                                    <xs:attribute type="xs:string" name="replace" use="optional"/>
                                    <xs:attribute type="xs:string" name="validation" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="compositefield" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="datafield">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type"/>
                                              <xs:attribute type="xs:string" name="value"/>
                                              <xs:attribute type="xs:string" name="name"/>
                                              <xs:attribute type="xs:string" name="id"/>
                                              <xs:attribute type="xs:string" name="column"/>
                                              <xs:attribute type="xs:string" name="forid"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="displayfield" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                              <xs:attribute type="xs:string" name="forid" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="text"/>
                                      <xs:element type="xs:string" name="rule"/>
                                      <xs:element type="xs:string" name="validation"/>
                                      <xs:element name="query">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type"/>
                                              <xs:attribute type="xs:string" name="stackid"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type"/>
                                    <xs:attribute type="xs:string" name="class"/>
                                    <xs:attribute type="xs:string" name="forid"/>
                                    <xs:attribute type="xs:string" name="validation"/>
                                    <xs:attribute type="xs:string" name="column"/>
                                    <xs:attribute type="xs:string" name="dbcolsize"/>
                                    <xs:attribute type="xs:string" name="mask"/>
                                    <xs:attribute type="xs:string" name="replace"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="button" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="forid" use="optional"/>
                            <xs:attribute type="xs:string" name="onclick" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>